.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 25rem 0 25rem;
}

.formContent {
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

.headerForms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007df0;
  width: 100%;
  height: 76px;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  padding: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  /* margin: 15px; */
}

.tableWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 31px;
}

/* .tableContainer {
  margin: 15px;
} */

.latLong {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 20px 0 0 17px;
}

.latLongFields {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  height: 58px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modalContent {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.modalDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 700;
  gap: 10px;
  font-size: 14px;
  height: 38px;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.modalDeleteContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.modalDeleteButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  height: 47px;
  width: 43rem;
}

.filterButtons {
  display: flex;
  border: #dfdfdf 1px solid;
  border-radius: 5px;
  height: 40px;
}

.separator {
  width: 0.5px;
  height: 39px;
  background-color: #ccc;
  margin: 0 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #007df0;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  gap: 10px;
  font-size: 14px;
  height: 38px;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

.button:hover {
  background-color: #ffffff;
  color: #007df0;
}

.starsContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.hidden {
  display: none;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.errorPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.errorPopupContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.errorPopupClose {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #aaa;
}

.errorPopupClose:hover {
  color: #333;
}

.errorPopup p {
  color: #e74c3c;
  font-weight: bold;
}
